.title {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

.text {
  font-size: 18px;
  text-align: justify;
  font-family: "Dosis", sans-serif;
}

.circular-image-wrapper {
  position: relative;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .circular-image-wrapper {
    width: 50%;
    padding-bottom: 50%;
  }
}

.circular-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;
}
