<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>

    <!-- Bootstrap link CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- CSS link - HomePage -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- CSS link -->
    <link rel="stylesheet" href="partials.css">

    <!-- Link Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&family=Dosis&display=swap" rel="stylesheet">

    <!-- Bootstrap link JavaScript  --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>
  <header>
    <!-- navbar --> 
    <nav class="navbar navbar-custom navbar-expand-md sticky-top">
      <img class="icons" src="../../assets/icons/coding.png" alt="icon-coding">
      <a class="navbar-brand" href="#"><span class="titles">Bruna Silva  </span>  Software Developer</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
        <span class="navbar-toggler-icon">
          <img src="../../assets/icons/menu.png" alt="icon-menu">
        </span>
      </button>
      <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="#">Currículo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="#">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="#"><span class="fas fa-user user"></span>Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>



</body>

</html>