/* Navbar */
.navbar-custom {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.navbar-brand {
    margin-right: 0;
}

a {
    color: black ;
}

a:hover {
    color: rgb(126, 121, 121) ;
}

.brand-name, brand-function {
    padding: 20px;
}

.brand-name {
    font-family: 'Doppio One', sans-serif;
}

.navbar-toggler-right {
    padding: 0;
}

.navbar-nav {
    right: 0;
    position: absolute;
}

.nav-item {
    padding: 0 30px;
    border-right: 1px solid black;
    font-size: 20px;
}

.nav-item:last-child {
    border: none;
}

.nav-link-custom {
    text-align: center;
}

.nav-link-custom:hover {
    color: black;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 1000) {
    .nav-item {
        padding: 0 10px;
    }
}

.user {
    padding-right: 15px;
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        position: static;
    }

    .nav-item {
        border-right: none;
    }

    .subtitle {
        display: none;
    }

    .nav-link-custom:hover {
        border-bottom: none;
        border-left: none;
    }
}

/* Footer */

.footer-custom {
    background-color: white;
    padding-bottom: 34px;
    padding-top: 34px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    border-top: 0.5px solid rgb(214, 211, 211);
  }
  
  .social-icon {
    padding: 20px;
    font-size: 33px;
  }
  
  @media only screen and (max-width: 768px) {
      .social-icon {
          padding: 10px;
        }
  }
  
  .footer-copyright {
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  
  .footer-email{
      text-decoration: underline;
  }
  /* Footer */

.footer-custom {
    background-color: white;
    padding-bottom: 34px;
    padding-top: 34px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: absolute;
  }
  
  .social-icon {
    padding: 20px;
    font-size: 33px;
  }
  
  @media only screen and (max-width: 768px) {
      .social-icon {
          padding: 10px;
        }
  }
  
  .footer-copyright {
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  
  .footer-email{
      text-decoration: underline;
  }
  