body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.63px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

html,
body {
    height: 85vh;
}
    
.container {
    flex: 1 0 auto;
    place-items: flex-start;
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    animation-delay: 2s;
}

.row {
    padding: 20px 0;
}

footer {
    flex-shrink: 0;
}

.title {
    font-family: 'Doppio One', sans-serif;
    font-size: 30px;
    margin-left: -2px;
}

.icons {
    padding: 5px;
    width: 33px;
}

.buttons-container {
    margin-top: 20px;
}

.buttons-container button {
    display: inline-block;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
    padding: 10px 0px;
    margin-left: -6px;
}

.button {
    font-size: 20px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    color: rgb(126, 121, 121);
}

input {
    border: none;
    outline: none;
}

/* About Page */

.profile-picture {
    justify-content: center;
    display: flex;
}

#profile-picture {
    border-radius: 50%;
    width: 80%;
}

.about-me-title {
    font-size: 100px;
    padding: 0;
    margin-left: -5px;
}

.about-me-subtitle {
    font-size: 30px;
    font-family: 'Doppio One', sans-serif;
}

.about-me-text {
    font-size: 18px;
    text-align: justify;
}


/* About me - mobile */
@media only screen and (max-width: 768px) {
    .container {
        padding: 5px 10%;
    }
    .row {
        display: block;
    }

    .title {
        font-size: 22px;
    }
}

/* Projets Page */
.circular-image-wrapper {
    position: relative;
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;
    overflow: hidden;
}

.projects-subtitle {
    font-size: 24px;
    padding-top: 15px;
}

.circular-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
}

/* Projects - mobile */
@media only screen and (max-width: 768px) {
    .circular-image-wrapper {
        width: 50%;
        padding-bottom: 50%;
    }

    .custom-align-mobile {
        justify-content: center !important;
    }
}



/* Blog Page*/
.container-post {
    display: block;
    padding-top: 20px;
}

.card-img-top {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.card .card-body {
    padding: 0;
    padding-bottom: 60px;
}

.btn-link {
    position: absolute;
    color: black;
    text-align: right;
    font-family: 'Doppio One', sans-serif;
    font-size: 24 px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.data {
    font-size: 18px;
    border-top: 0.5px solid rgb(214, 211, 211);
    border-bottom: 0.5px solid rgb(214, 211, 211);
}

/* Blog - tablet */
@media only screen and (max-width: 1000px) {
    .card-img-top {
        width: 170px;
        height: 170px;
    }
}

/* Blog - mobile */
@media only screen and (max-width: 768px) {
    .card-img-top {
        padding: 0;
        display: none;
    }
    .card-body-image {
        height: 0px;
    }
}

/* Criar Post */
.insert-title {
    margin-bottom: 30px;
    font-family: 'Doppio One', sans-serif;
    font-size: 32px;
    color: black;
    width: 100%;
}

#error {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#error-text {
    font-size: 18px;
}

.insert-title::placeholder {
    color: black;
    background-color: none;
}

/* Criar Post - mobile */
@media only screen and (max-width: 768px) {
    #insertTitle {
        font-size: 28px;
    }
    .card-body {
        padding-bottom: 0;
    }
}




/* Ver Post */

.hide-post {
    visibility: hidden;
}

.data {
    font-size: 18px;
    border-top: 0.5px solid rgb(214, 211, 211);
    border-bottom: 0.5px solid rgb(214, 211, 211);
}

.image-post {
    max-width: 100%;
}

/* contacts */


.btn-link {
    position: absolute;
    color: black;
    text-align: right;
    font-family: 'Doppio One', sans-serif;
    font-size: 24 px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}



.container-contact {
    display: block;
}



/* Login Page */

.login-page {
    padding: 6% 0 0;
    margin: auto;
}

.form {
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-icon {
    padding-bottom: 20px;
}

.form input {
    border-bottom: 1px solid #000000;
    width: 100%;
    margin: 0 0 25px;
    padding: 15px;
}

.form button {
    background: rgb(126, 121, 121);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

 .button-error {
    background-color: transparent !important;
    color: #000000 !important;
    font-size: 30px !important;
} 