/* About */

.page {
  margin: 0 10% 30px;
}

.about-me {
  font-size: 18px;
  text-align: justify;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-family: "Doppio One", sans-serif;
  font-size: 100px;
}

h3 {
  font-family: "Doppio One", sans-serif;
  font-size: 30px;
}

#profile-picture {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.custom-container {
  display: flex;
  align-items: center;
}

/* mobile */

@media only screen and (max-width: 768px) {
  .custom-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    order: 2;
  }

  .about-me {
    margin-left: 0%; /* Remove a margem à esquerda na versão mobile */
  }
}
