
.card-img-top {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.card .card-body {
  padding-bottom: 60px;
}

.btn-link {
  position: absolute;
  color: black;
  text-align: right;
  font-family:'Doppio One', sans-serif;
  font-size: 24 px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.titles {
  margin: 0;
  padding: 0;
}

.data {
  font-size: 18px;
  border-top: 0.5px solid rgb(214, 211, 211);
  border-bottom: 0.5px solid rgb(214, 211, 211);
}

.buttons-container {
  text-align: left;
  margin: 0;
}

.button {
  padding-bottom: 20px;
  color: rgb(86, 82, 82);
  font-size: 18px;
  padding-left: 0;
  padding-top: 0;
}
