.page {
    margin: 50px 10% 30px;
    max-width: 1200px;
}

@media only screen and (min-width: 1500px) {
    .page {
        margin: 50px auto 30px;
    }
}

p {
    font-size: 18px;
}

#insertTitle {
    margin-bottom: 30px;
}

input[type="text"] {
    font-family: 'Doppio One', sans-serif;
    font-size: 32px;
    color: black;
}


input[type="text"]::placeholder {
    color: black;
}

input {
    border: 1px solid transparent;
    outline: none;
}

.buttons-container {
    text-align: right;
    margin-top: 20px;
}

.buttons-container button {
    display: inline-block;
    margin-right: 20px; 
}

.button {
    font-family: 'Doppio One', sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    color: rgb(126, 121, 121);
}

@media only screen and (max-width: 768px) {
    #insertTitle {
        font-size: 28px;
    }
}


