#insertTitle {
    margin-bottom: 30px;
}

input[type="text"] {
    font-family: 'Doppio One', sans-serif;
    font-size: 32px;
    color: black;
    background-color: none;
}

input[type="text"]::placeholder {
    color: black;
    background-color: none;
}

@media only screen and (max-width: 768px) {
    #insertTitle {
        font-size: 28px;
    }
}

#error {
    display: none;
    gap: 100px;
}
 
#error-text {
    display: contents; 
    font-size: 18px;
}


