.titles {
    margin: 0;
    padding: 0;
}

/* .title-buttons-container {
    display: flex;
}

.title-buttons-container {
    justify-content: space-between;
    gap: 20px;
} */

.data {
    font-size: 18px;
    border-top: 0.5px solid rgb(214, 211, 211);
    border-bottom: 0.5px solid rgb(214, 211, 211);
}

.buttons-container {
    text-align: left;
    margin: 0;
}

.button {
    padding-bottom: 20px;
    color: rgb(86, 82, 82);
    font-size: 18px;
    padding-left: 0;
    padding-top: 0;
}